<table>
    <tr>
        <th>
            Look at this Cat!
        </th>
    </tr>
    <tr>
        <td>
            <%= render "cat", cat: @cat, form: :show %>
        </td>
    </tr>
</table>

<ul>
    <%= render "cat", cat: @cat, form: show %>
</ul>
