<h1>New Cat</h1>
<form action="<%= cats_url %>" method="post">
    <label for="Name:"
    input
        type = "text"
        name = "cat[name]
        value = <%= cat.name %>
    ></label>

    <input type="submit" value="Create Cat!">
</form>